body {
  margin: 0em;
  font-family: 'Inter', sans-serif;
}
.cover {
  height: 280px;
  background-image: url(https://cdn.glitch.global/fd2b3fa9-cc2a-4c35-a485-87f21e604780/rsz_a.jpg?v=1648939305448);
  color: white;
  background-size: cover;
  background-position: center;
  background-color:rgba(0,0,0,0.5);
  background-blend-mode: darken;
}

.card{
  border:0 !important;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
}

.card-title{
  min-height:2.5rem;
}
.card-text{
  min-height:3rem
}